* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #D7FDF0; 
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: #3A445D; 
}

.body {
  background-color: #fe9ac7;
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.body .image{
  margin-top: 16px;
  height: auto;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; 
  font-size: 25px;
}

.age{
  font-size: inherit;  
}

.status{
  font-size: inherit;
}

.button {
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #3A445D;
  color: #D7FDF0;
  border: none;
  box-shadow: 1px 1px #0b3954;
  cursor: pointer;
}

.button:hover{
  transition: 0.5s;
  background-color: #0b3954;
  font-weight: 700;
}

.footer{
  color: #3A445D;
  text-align: right;
  font-size: 18px;
}

.footer a {
  font-weight:bold;
}

@media screen and (max-width: 900px){
  .logo {
    width: 100%;
    height: auto;
  }

  .body {
    display: flex;
    flex-direction: column-reverse;
  }

  .body .button {
    margin: 15px 0;
  }

  .characteristics .age-status{
    font-size: 18px;
  }

  .footer {
    font-size: 12px;
  }
}